@model DataAccessLayer.Models.ContactInfo

<h2>Contact Details</h2>

<p><b>ID:</b> @Model.ContactId</p>
<p><b>Name:</b> @Model.FirstName @Model.LastName</p>
<p><b>Email:</b> @Model.EmailId</p>
<p><b>Mobile:</b> @Model.MobileNo</p>
<p><b>Designation:</b> @Model.Designation</p>
<p><b>Company:</b> @Model.CompanyName</p>
<p><b>Department:</b> @Model.DepartmentName</p>

<a href="/contact/list">Back to List</a>